.thx {
    margin-top: 22%;
    font-size: 500%;
}
html {
    background-image: url(bilder/thankyoubackground.png);
    background-size: cover;
}

.frpleder {
    height: 75%;
    position: absolute;
    bottom: 0%;
    left: 26%;
    z-index: -1;
}